In [2]:
from functools import reduce

lis = [14, 3, 5, 6, 2]
print("The maximum element of the list is:", end=" ")
print(reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is: 14

In [5]:
def check_odd_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [8]:
def prime(n):
    if n > 1:
        for i in range(2, int(n/2) + 1):
            if n % i == 0:
                return 'Not prime'
                break
        else:
            return 'Prime'
    else:
        return 'Not prime'

n = int(input("Enter a number: "))
result = prime(n)
print(result)

Enter a number:  11

Prime

In [11]:
def cal_product(numbers):
    prod = 1
    for n in numbers:
        prod *= n
    return prod

numbers = input("Enter numbers: ")
numbers = list(map(int, numbers.split()))  
res = cal_product(numbers)
print("Product =", res)

Enter numbers:  40

Product = 40

In [14]:
def prime(n):
    if n > 1:
        for i in range(2, int(n/2)):
            
            pass

In [16]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

start = 11
end = 30
prime = [num for num in range(start, end + 1) if is_prime(num)]
print("Prime numbers between {} and {}: {}".format(start, end, prime))

Prime numbers between 11 and 30: [11, 13, 17, 19, 23, 29]

In [ ]:
num = range(11, 31) prime_numbers = list(filter(lambda x: all(x % i != 0 for i in range(2, int(x**0.5) + 1)), num)) print(" Prime numbers from numbers 11 to 30 are" ,prime_numbers)

In [3]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
start = 11
end = 30
prime=[num for num in range(start, end + 1) if is_prime(num)]
print("Prime numbers between {} and {}: {}".format(start, end, prime))

SyntaxError: invalid non-printable character U+00A0 (83515156.py, line 11)

In [4]:
primes = [num for num in range(11, 31) if all(num % i != 0 for i in range(2, int(num**0.5) + 1)) and num > 1]

print(primes)

[11, 13, 17, 19, 23, 29]

In [19]:
x = "Global scope"
a=10
def outer_func():
    x="Enclosing scope"
    def inner_func():
         x="Local scope"
        print(x)
        
        
         a=10
    inner_func()
    print(a)
outer_func()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [21]:
mytuple= ("alpha","beta","gamma")
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

alpha
beta
gamma

In [22]:
tuple=("alpha","beta","gamma")
for x in mytuple:
    print(x)

alpha
beta
gamma

In [ ]:
mystr="banana"

for x in mystr:
    print(x)

In [ ]:
def gen():
    yield "ordered food"
    yield  "order accepted"
    yield "order prepraing"
    yield "order has been picked"
    yield "order is on the way"
    yield "food has been delivred"
    
    

print(next(gen()))

In [1]:
def gen(): # Generators
    yield 1
    yield 2
    yield 3
    
for i in gen():
    print(i)

1
2
3

In [2]:
def gen(): # Generators
    yield True
    yield False
    yield True
for t_val in gen():
    print(t_val)

True
False
True

In [8]:
def gen(): # Generators
    yield 'First string'
    yield  'Second string'
    yield  'Third string'
    
obj  =  generator()
print(obj.__next__())
print('calling next')
print(obj.__next__())

NameError: name 'generator' is not defined

In [10]:
def generator():
    yield "search for the product"  
    yield "see rating and review of the product"  
    yield "see delivery date and if there is any delivery charges"  
    yield "next head for the order button"   
    yield "check the delivery address"  
    yield "head for payment option"    
    yield "pay the order payment"   
    yield "order has booked with estimated delivery date"     
    for label in generator():     print("ordered status:",label)

In [13]:
name = ["sagar","hemant","yusuf"<"pushpa"]
roll_no = [4,1,3,2]
#using zip() to map values
mapped  =zip(name,roll_no)
print(set(mapped))

{('hemant', 1), (False, 3), ('sagar', 4)}

In [35]:
name=['sagar', 'hemant', 'pushpa','pushpa']
roll_no=[4,1,3,10]

mapped=list(zip (roll_no,name))
print(type(mapped))\

for item in mapped:
    i=list(item)
    print("{} has been assigned roll number: {}".format(i[1],i[0]))

<class 'list'>
sagar has been assigned roll number: 4
hemant has been assigned roll number: 1
pushpa has been assigned roll number: 3
pushpa has been assigned roll number: 10

In [10]:
L1=["eat","sleep","repeat"]
s1="python"

obj1=enumerate(l1)
obj=enumerate(s1)

NameError: name 'l1' is not defined

In [39]:
L1=['A','B','C']

obj1=enumerate(L1)
print("type of object: ",type(obj1))
print(list(obj1))

s1="python"

obj2=enumerate(s1)
print(dict(obj2))

type of object:  <class 'enumerate'>
[(0, 'A'), (1, 'B'), (2, 'C')]
{0: 'p', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [7]:
s1="python"
if 'A'in 'Apple'

SyntaxError: expected ':' (2576552135.py, line 2)

In [43]:
if 'a' in 'apple':
    print('a found in apple')

a found in apple

In [60]:
fruites=['banana','orange','apple','kiwi','lime']
filtered=[]
for fruit in fruits:
         print(fruit)
    if 'a' in fruit :
            filtered.append(fruit)
print(filtered)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [61]:
fruits = [ "Apple", "Mango", "Avocado","kiwi"] 
filtered = [i for i in fruits if 'a' in i.lower()] 
for i in filtered:     
    print(i)

Apple
Mango
Avocado

In [62]:
print(fruits)

['Apple', 'Mango', 'Avocado', 'kiwi']

In [ ]:
     [ for fruit in fruits if 'a' in fruit ]

In [4]:
fruits= ['banana','orange','apple','kiwi','lime']

In [75]:
l1=[i*2  for i in range(0,5)]  
print(l1)

[0, 2, 4, 6, 8]

In [3]:
fruits= ['banana','orange','apple','kiwi','lime'] 

filtered = [fruit    for fruit in fruits   if 'a' in fruit ]
print(type(filtered))

<class 'list'>

In [5]:
file1=open(r"C:\abcasdfghjkl/MyFile1.txt","w+")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\abcasdfghjkl/MyFile1.txt'

In [11]:
file1= open(r"C:\abcasdfghjkl;/MyFile1.txt","w+")

In [12]:
file1.write("myname")

6

In [16]:
file1=open('1/a myfile5.txt','w')
file1.write("new file content written")
file1.close()

FileNotFoundError: [Errno 2] No such file or directory: '1/a myfile5.txt'

In [1]:
file1=open('1'/amyfile5.txt',''w')
file1.write

SyntaxError: invalid syntax. Perhaps you forgot a comma? (889763433.py, line 1)

In [2]:
file3=open(r'c:/users/keonics/documments/abc.txt,'r')

SyntaxError: unterminated string literal (detected at line 1) (1413664737.py, line 1)

In [7]:
file2=open(r'D':/ myfile4.txt','w')
file2.write("helloo python")
file2.close()


file2=open(r'D:/myfile4.txt','w')
str1=file2.read()
print(str1)
file2.close()

SyntaxError: unterminated string literal (detected at line 1) (2689226379.py, line 1)

In [10]:
file4=open('myfile1234.txt', 'w')
file4.write("python 3.11")
file4.close()

In [12]:
file4=open('myfile1234.txt','r')

string_from_file=file4.read(6)
print(string_from_file)

file4.close()

python

In [14]:
file4=open('myfile1234.txt','r')

string_from_file=file4.readlines()
print(string_from_file[0])

file4.close()

python 3.11

In [18]:
file4=open('myfile1234.txt','r')

paragraph=file4.readlines()
for  line in paragraph:
    print(line)
    

file4.close()

python 3.11

In [24]:
file1=open('myfile1234.txt','r')
print(file1.readline())
file1.seek(4)
print(file1.readline())
file1.close()

python 3.11

on 3.11

In [25]:
print("Value:%2d, portal:%5.2f"%(1, 05.333))

Value: 1, portal: 5.33

In [29]:
print(" Rs. %d , pi value %5.3f"%(100,3000.142))

 Rs. 100 , pi value 3000.142

In [34]:
print("%7.2o"%(25))

     31

In [35]:
print("%7.2o"%(8))

     10

In [47]:
print("%7.0E"%2000)z

  2E+03

In [6]:
a=[1,2,3]
try:
    print("second element=%d"%(a[1]))
          
    print("Fourth Element =%d"%(a[3]))
except:
    print("an error")

second element=2
an error

In [8]:
a=[1,2,3]
try:
    print("second element=%d"%(a[1]))
          
    print("Fourth Element =%d"%(a[3]))
except IndexError:
    print("error occured at index 3")
except ValueError:
    print("value error occured ")

second element=2
error occured at index 3

In [9]:
a=[1,2,3]
try:
    print("second element=%d"%(a[1]))
          
    print("Fourth Element =%d"%(a[3]))
except IndexError:
    print("error occured at index 3")
except ValueError:
    print("value error occured ")
except typeerror:
    print("typeerror occured")

second element=2
error occured at index 3

In [14]:
a=10
b=[1,2,3]
try:
    a=c
    print("%d"%(b[3]))
except NameError:
    print("Exception occurred")

Exception occurred

In [18]:
a=10
b=[1,2,3]
try:
    a=c
    print("%d"%(b[3]))
except NameError:
    print("Exception occured: IndexError")
except:
    print("Exception occurred: Generic")

Exception occured: IndexError

In [21]:
a=10
b=[1,2,3]
try:
    a=c
    print("%d"%(b[3]))
except NameError:
    print("Exception occurred: NameError")
except IndexError:
    print("Exception occurred: IndexError")
except ZeroDivisionError:
    print("Exception occurred: ZeroDivisionError")
except:
    print("Exception occurred: Generic")

Exception occurred: NameError

In [31]:
try:
    a=10/1
except ZeroDivisionError:
    print("ZeroDivisionError occurred")
else:
    ("exception did not occurred")
finally:
    print("Finally block executed")

Finally block executed

In [5]:
try:
    fd=open("Myfile1234.txt",'r')
    print(fd.read())
    print(fd.write("Hello"))
    
except ZeroDivisionError:
    print("ZeroDivisionError occurred")
else:
    ("exception did not occurred")
finally:
    print("Finally block executed")

python 3.11
c programming
java
HTML
Finally block executed

UnsupportedOperation: not writable

In [11]:
try:
    raise NameError("NameError raised from developer")
except NameError:
    print('execption occurred')
    raise

execption occurred

NameError: NameError raised from developer

In [9]:
with open('student_data.txt', 'w') as file:
    file.write("John Doe,123,10,A\n")
    file.write("Jane Smith,456,11,B\n")
    # Add more students as needed

# Reading and displaying only names
with open('student_data.txt', 'r') as file:
    for line in file:
        # Split the line into individual pieces of data
        data = line.strip().split(',')
        # Display only the name (assuming name is the first piece of data)
print(data[0])

Jane Smith

In [14]:
# Writing data to the file
with open('student_data.txt12', 'a') as file:
    file.write("Johny Doe,12,10,A\n")
# Reading and displaying only names
with open('student_data.txt12', 'r') as file:
    for line in file:
        data = line.split(',')
        print(data[0],data[2])

Johny Doe 10
Johny Doe 10

In [13]:
import csv
with open("C:/Users/dhanu/Desktop/Book1.csv" ,'r')as file_object:
    print("Successfully opened csv")
    data=csv.reader(file_object)
    for line in data:
        print(line[2])

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/dhanu/Desktop/Book1.csv'

In [2]:
import csv
c=0
with open("C:/Users/dhanu/Desktop/Netflix.csv",mode='r')
     data=csv.reader(fd)
     print(type(data))
    for line in data:
        c=c+1
        if c>5:
            break
        if c==1:
            continue
        print("Netflix has released" ,line[2], 'on', line[7],' & directed',c)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [3]:
import csv
data = [{'Branch':'CS','CGPA':9.0,'Name':'Nikhil','Year':3},
        {'Branch':'EC','CGPA':8.0,'Name':'Sam','Year':3},
        {'Branch':'CS','CGPA':9.5,'Name':'Amit','Year':3}
       ]
fields = ['Name','Branch','CGPA','Year']
filename = 'student_data.csv'
with open(filename,'w',newline='') as fd:
    WO = csv.DictWriter(fd,fieldnames = fields)
    WO.writeheader()
    WO.writerows(data)
    print('Data written to {filename}')

Data written to {filename}

In [16]:
class Person:
    def __init__(self, fname, lname):
     self.firstname = fname
     self.lastname = lname

    def printname(self):
     print(self.firstname, self.lastname)


x = Person("John", "Doe")
x.printname()

John Doe

In [31]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    def printname(self):
        print(f'My name is {self.fname} {self.lname}')

class Student(Person):
    pass

obj1 = Student('Sagar', 'Bhat')
obj1.printname()

My name is Sagar Bhat

In [44]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.year = year

# Example usage
obj1 = Student('Sagar', 'Bhat', 2023)
obj1.printname()
print(f'Graduation Year: {obj1.year}')

My name is Sagar Bhat
Graduation Year: 2023

In [47]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname

    def printname(self):
        print(f'My name is {self.fname} {self.lname}')

class Student(Person):
    def __init__(self, fname, lname, graduationyear):
        super().__init__(fname, lname)
        self.graduationyear = graduationyear

    def printname(self):
        print(f'My name is {self.fname} {self.lname}, graduated in {self.graduationyear}')

# Example usage
obj1 = Student('Sagar', 'Bhat', 2023)
obj1.printname()

My name is Sagar Bhat, graduated in 2023

In [49]:
class Engineer:
    def __init__(self, name, age, experience):
        self.name = name
        self.age = age
        self.experience = experience

    def print_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Experience: {self.experience} years")

class SoftwareEngineer(Engineer):
    def __init__(self, name, age, experience, programming_languages):
        super().__init__(name, age, experience)
        self.programming_languages = programming_languages

    def print_info(self):
        super().print_info()
        print(f"Programming Languages: {', '.join(self.programming_languages)}")
        print("Job Description: Develop software applications and systems.")

class ElectricalEngineer(Engineer):
    def __init__(self, name, age, experience, electrical_skills):
        super().__init__(name, age, experience)
        self.electrical_skills = electrical_skills

    def print_info(self):
        super().print_info()
        print(f"Electrical Skills: {', '.join(self.electrical_skills)}")
        print("Job Description: Design and maintain electrical systems.")

class CivilEngineer(Engineer):
    def __init__(self, name, age, experience, structural_design_skills):
        super().__init__(name, age, experience)
        self.structural_design_skills = structural_design_skills

    def print_info(self):
        super().print_info()
        print(f"Structural Design Skills: {', '.join(self.structural_design_skills)}")
        print("Job Description: Plan, design, and oversee construction projects.")

class MechanicalEngineer(Engineer):
    def __init__(self, name, age, experience, mechanical_skills):
        super().__init__(name, age, experience)
        self.mechanical_skills = mechanical_skills

    def print_info(self):
        super().print_info()
        print(f"Mechanical Skills: {', '.join(self.mechanical_skills)}")
        print("Job Description: Design and analyze mechanical systems and devices.")

In [2]:
class Engineer:
    def __init__(self, name, role):
        self.name = name
        self.role = role

    def display_info(self):
        print(f"Name: {self.name}\nRole: {self.role}")

# Subclass for Data Translator
class DataTranslator(Engineer):
    pass

# Subclass for Data Scientist
class DataScientist(Engineer):
    pass

# Subclass for Information Designer
class InformationDesigner(Engineer):
    pass

# Subclass for Machine Learning Engineer
class MachineLearningEngineer(Engineer):
    pass

# Subclass for Data Science Manager
class DataScienceManager(Engineer):
    pass

# Example Instances
data_translator = DataTranslator("John Doe", "Data Translator")
data_scientist = DataScientist("Jane Smith", "Data Scientist")
information_designer = InformationDesigner("Alice Johnson", "Information Designer")
ml_engineer = MachineLearningEngineer("Bob Wilson", "Machine Learning Engineer")
data_science_manager = DataScienceManager("Chris Brown", "Data Science Manager")

# Display Information
data_translator.display_info()
print("\n")
data_scientist.display_info()
print("\n")
information_designer.display_info()
print("\n")
ml_engineer.display_info()
print("\n")
data_science_manager.display_info()

Name: John Doe
Role: Data Translator


Name: Jane Smith
Role: Data Scientist


Name: Alice Johnson
Role: Information Designer


Name: Bob Wilson
Role: Machine Learning Engineer


Name: Chris Brown
Role: Data Science Manager

# STATISTICS LEARNING

In [14]:
# mean
import statistics
li=[1,2,3,3,2,2,2,1]
   
print("The average of list values is:", end="")
print(statistics.mean(li))

The average of list values is:2

In [13]:
#mode
values=[2,3,4,2,4,6,4,7,7,4,2,4]
print(statistics.mode(values))

4

In [12]:
# median
mileage=[21.3,20.8,19,15]
print(statistics.median(mileage))

19.9

In [4]:
a=int(input("a"))
b=int(input("b"))
c=a+b
print(c)

a 4
b 6

10

In [1]:
C:\Users\dhanu\OneDrive\Desktop\MAIN

SyntaxError: unexpected character after line continuation character (4139399282.py, line 1)