In [4]:
value=bool (input ("Enter boolean value:"))
value

Enter boolean value:50

True

In [5]:
c=float(input('Enter your age:'))

Enter your age:25

In [13]:
from datetime import date
# import datetime

my_date = date(2023,10,31)
my_date
today1= date.today()
print("Today is date is",today1)

Today is date is 2023-11-07

In [14]:
# get  Todays year, Month, and date

print("current year", today1.year)
print("current month",today1.month)
print("current date", today1.day)

current year 2023
current month 11
current date 7

In [15]:
# Get
from datetime import datetime as dt
date1 = dt.now()
date1

datetime.datetime(2023, 11, 7, 15, 17, 43, 3791)

In [16]:
from datetime import time
my_time = time(7,8,45)
print("Entered time", my_time)

Entered time 07:08:45

In [17]:
#Timedelta function demonstration

from datetime import date, timedelta
current_date = date. today()
future_date_after_2yrs= current_date + timedelta(days=180)
future_date_after_2yrs

datetime.date(2024, 5, 5)

In [18]:
 from datetime import datetime
 #   
 current_age = float(input("Enter your current age in years:"))
age_after_5000_days = current_age + 5000 / 365
print(f" your age after 5000 days will be approximately {age_after_5000_days:.2f} years.")

Enter your current age in years:19
 your age after 5000 days will be approximately 32.70 years.

In [21]:
#Task
l1=[]
type(l1)

list

In [22]:
l2= ([1,2,3,4])
l2

[1, 2, 3, 4]

In [23]:
mylist=['one','two','three','four','five','six','seven','eight']

In [24]:
mylist[-2:-7:-1]

['seven', 'six', 'five', 'four', 'three']

In [25]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [26]:
mylist.insert(3,'ten')
mylist

['one', 'two', 'three', 'ten', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
mylist

['one', 'two', 'three', 'ten', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [28]:
mylist

['one', 'two', 'three', 'ten', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [29]:
mylist.remove('ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [30]:
mylist.pop(8)

'nine'

In [31]:
mylist =[1,2,3,4]
mylist
del mylist [2]
mylist

[1, 2, 4]

In [34]:
del mylist[2]
mylist

IndexError: list assignment index out of range

In [35]:
mylist

[1, 2]

In [36]:
mylist

[1, 2]

In [39]:
mylist.extend([1,2,3])
mylist

[1, 2, 1, 2, 3]

In [ ]:
# simple while loop
i=1

while i<=6:
    print ('while condition is true', i)
    i=i+1 # ==> i = i+1

In [ ]:
# while loop with break.
#It is used to stop loop even if while condition is true
i=1
while i<6:
    print(i)
    if i==3:
        break  
    i=1+1
print("End of while")

In [5]:
# while loop with continue statement.
i=0
while i<6:
    i=i+1 # 1,2,3
    if i==3:
        continue # skip for 1,2
        print(i) # skipped for i=3, 3==3
        print('hi') # skipped for 3==3

In [21]:
# while loop with else statement.
i=3
while i<6:
    print(i)
    i+=1
else:
    print('while loop condition is false')
print('hi')

3
4
5
while loop condition is false
hi

In [18]:
count = 0
while (count <3):
    count = count + 1
    print(count,"Data science")

1 Data science
2 Data science
3 Data science

In [10]:
# Task: print 10 add numbers using while loop.
#output: 1,3,5,7,9,11,13,15,17,19
#1. counter=1, a number=1
i=1
n=1
while i<=20:
    print(i)
    i+=2
    n+=1
    if i%2==0:
        print("ODD:",i)
    else:
        print("EVEN",i)
        
print("count:",)

1
EVEN 3
3
EVEN 5
5
EVEN 7
7
EVEN 9
9
EVEN 11
11
EVEN 13
13
EVEN 15
15
EVEN 17
17
EVEN 19
19
EVEN 21
count:

In [8]:
lis = [1,2,3,4,5,6,7,8,9,0,12,34,55]
len(lis)

13

In [9]:
for ele in lis:
    d = ele+2
    print(d)
    
print('done with all the elements')

3
4
5
6
7
8
9
10
11
2
14
36
57
done with all the elements